# Liquibase
liquibase/liquibase.properties

# .NET
**/bin/
**/obj/
*.user
*.http

# Frontend
**/node_modules/
**/dist/

handwritingOCR.Server/uploads/

handwritingOCR.Server/appsettings.Development.json

.vs/
.vscode/